<header class="header">
    <div class="overlay"></div>
    <div class="intrude-less">
        <div class="my-icon"></div>
        <div class="en-name">Skyler Hu</div>
        <div class="nick-name">（快乐悲魂）</div>
        <div class="motto">No pains, no gains.</div>
        <div class="menus">
            <ul>
                <li><a class="sky-a-normal" href="{{ url('article_list') }}">所有博客</a></li>
                <li><a class="sky-a-normal" href="{{ url('friendly_links') }}">友情链接</a></li>
                <li><a class="sky-a-normal" href="{{ url('my_profile')  }}">关于</a></li>
             </ul>
        </div>
        <div class="social">
            <a class="github" target="_blank" href="https://github.com" title="GitHub"></a>
            <a class="facebook" target="_blank" href="http://facebook.com" title="微博"></a>
            <a class="rss" target="_blank" href="http://skylerhu.com" title="RSS"></a>
        </div>
    </div>
</header>
