{% extends "skyblog/main.html" %}

{% block keywords %}{{ article.keywords }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ static('skyblog/css/article/article_sky.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ static('skyblog/css/article/article_detail.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ static('skyblog/css/article/pygments-monokai.css') }}" />
{% endblock %}

{% block content %}
<div class="article_main">
    <article id="article_detail" class="article" data-id="{{ article.id }}">
        {% if article.show_title %}
            <h1>{{ article.title }}</h1>
            <div class="create_at"><time datetime="{{ article.create_at }}">{{ article.create_at }}</time></div>
            {% if article.tags %}
                <div class="tags">
                    {% for tag in article.tags %}
                        <span>{{ tag }}</span>
                    {% endfor %}
                </div>
            {% else %}
                <div style="height: 15px;"></div>
            {% endif %}
            <div class="horizontal-line"></div>
        {% endif %}
        <div class="article_content">
            {{ article.content|nl2br }}
        </div>
    </article>
</div>

<div class="comment-main">
<!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ article.id }}" data-title="{{ article.title }}" data-url=""></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"skylerhu"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->
</div>

{% endblock %}

{% block requirejs %}{{ static('skyblog/js/article/article_detail') }}{% endblock %}
